<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notebook app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sticky-notes 📝</ion-title>

    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Simple note application made with ionic (angular) + express + sequelize. </strong>
    <h5>- Write down short notes
    </h5>
    <h5>- Delete or update them as you wish
    </h5>
    <h5>- Organize them by colors
    </h5>
    <h5>- Filter by color
    </h5>
    <h5>- Export notes to .json or simple .txt file (available in the future!)
    </h5>


    <ion-button id="open-button" size="large" (click)="goToNoteList()">Open my notes</ion-button>

    <p id="credits">Made with <span style="color: red">♥</span> by Sarah Soares<br></p>

    <!-- <ion-list><ion-item *ngFor=" let n of notes">
        <p>Dirección: {{n.content}}</p>
        </ion-item></ion-list> -->

  </div>
</ion-content>